.card {
	width: 26vw;
	height: 50vh;
	margin: 30px 20px 10px;
	cursor: default;
}

.card-header {
	margin-top: 20px;
	font-weight: bold;
}

.card-img {
	width: 90%;
	border-radius: 10px;
}

.card-desc {
	width: 80%;
	top: 33%;
	left: 10%;
	font-size: larger;
}
