.input-search {
	width: 26%;
}

.episode-select {
	width: 26%;
}

.api-select {
	width: 26%;
}

.card {
	width: 400px;
	height: 45vh;
	margin: 20px 5px 10px;
	cursor: default;
	perspective: 1000px;
	transition: box-shadow 0.5s;
}

.card-header {
	margin: 20px 10px;
	font-weight: bold;
}

.card-img {
	border-radius: 20px;
	border: dashed black 2px;
}

.card-desc {
	width: 80%;
	top: 10%;
	left: 10%;
}

.card-inner {
	transition: transform 1s;
	transform-style: preserve-3d;
}

.card:hover .card-inner {
	transform: rotateY(180deg);
}

.card:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}

.card-front,
.card-back {
	position: absolute;
	width: 90%;
	height: 85%;
	backface-visibility: hidden;
}

.card-back {
	text-align: justify;
	border-radius: 20px;
	background-color: dodgerblue;
	color: white;
	transform: rotateY(180deg);
}
